@using Fama_Segura.Core.Application.ViewModels.User
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}


<div class="container mt-3 col-4 offset-4">
    <div class="card">
        <div class="card-header">
            <h1 class="text-dark text-center">Iniciar Sesión</h1>
        </div>
        <div class="card-body">
            <div class="row justify-content-center mt-1 mb-1">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @if (Model.HasError)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>@Model.Error</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <form method="post" asp-controller="User" asp-action="Index">
                    <div class="form-group text-center pt-3">
                    </div>
                    <div class="form-group mx-sm-4 pt-3 mt-2 mb-2">
                        <input asp-for="Email" type="text" class="form-control bg-white col-10" placeholder="Ingrese su Email">
                    </div>
                    <div class="form-group mx-sm-4 pb-3 mb-4">
                        <input asp-for="Password" class="form-control bg-white col-10 " placeholder="Ingrese su Contraseña" id="passwordInput">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <i class="fa fa-eye-slash" id="togglePassword"></i>
                    </div>
                    <div class="form-group mx-sm-4 pb-2 mb-5 mt-1">
                        <input type="submit" class="btn btn-info text-dark rounded col-10 offset-1 mb-2">
                        <span class="text-info mt-3"><a asp-controller="User" asp-action="ForgotPassword">Olvide mi contraseña</a></span>
                    </div>
                </form>

            </div>
        </div>
        </div>
    </div>
    

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style>
    .card-header {
        background-color: aquamarine;
        color: black;
    }

    .btn-primary {
        background-color: #8ED1FC;
        color: white;
        border: none;
    }

        .btn-primary:hover {
            background-color: #6EC6FF;
        }

    .btn-dark {
        background-color: #343a40;
        color: white;
    }

    .form-control {
        background-color: white;
    }

    .text-center {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>


<script>
    var passwordInput = document.getElementById("passwordInput");
    var togglePassword = document.getElementById("togglePassword");

    togglePassword.addEventListener("click", function () {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            togglePassword.classList.remove("fa-eye-slash");
            togglePassword.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            togglePassword.classList.remove("fa-eye");
            togglePassword.classList.add("fa-eye-slash");
        }
    });
</script>