@using Fama_Segura.Core.Application.ViewModel.User;
@model EditUserViewModel;
@{
    ViewData["Title"] = "Registro";
    bool IsAdmin = false;
}

<body>
    <div class="container ">
        <div class="row justify-content-center pt-5 mt-5 m-1">
            <div class="col-md-6 col-sm-8 col-xl-4 col-lg-5 formulario">
                @if (Model.HasError)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>@Model.Error</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <form method="post" asp-controller="User" asp-action="UpdateClient" enctype="multipart/form-data">

                    <div class="form-group text-center pt-3">
                        <h1 class="text-light">Edit Client</h1>
                    </div>
                    <div class="form-group mx-sm-4 pt-3 mt-1 mb-2">
                        <input type="text" asp-for="Username" class="form-control" placeholder="Enter the UserName">
                        <span asp-validation-for="Username" class="text-white"></span>
                    </div>
                    <div class="form-group mx-sm-4 pt-3 mb-2">
                        <input asp-for="FirstName" class="form-control" placeholder="Enter the Name">
                        <span asp-validation-for="FirstName" class="text-white"></span>
                    </div>
                    <div class="form-group mx-sm-4 pt-3 mb-2">
                        <input asp-for="LastName" class="form-control" placeholder="Enter the LastName">
                        <span asp-validation-for="LastName" class="text-white"></span>
                    </div>
                    <div class="form-group mx-sm-4 pt-3 mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Enter the Email">
                        <span asp-validation-for="Email" class="text-white"></span>
                    </div>
                    <div class="form-group mx-sm-4 pt-3 mb-3">
                        <input asp-for="Cedula" class="form-control" placeholder="Enter the Cedula">
                        <span asp-validation-for="Cedula" class="text-white"></span>
                    </div>
                    <div class="form-group mx-sm-4 pt-3 mb-2 mt-2" id="clientSection" style="display: @(!IsAdmin ? "block" : "none")">
                        <label class="form-control">Enter an Amount</label>
                        <input asp-for="InitialAmount" type="number" class="form-control mt-3" placeholder="Enter the Initial Amount">
                    </div>
                    <div class="form-group text-center mt-4 mb-5">
                        <button type="submit" class="btn btn-primary btn-outline-dark" style="background-color: #2f5b75; color: white;">Actualizar Usuario</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-dark">Volver atras</a>
                    </div>
                    <input asp-for="UserId" class="form-control" hidden>
                    <label class="mb-5"></label>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

<script>
    function toggleAdminSection() {
        var isAdminSelect = document.getElementById('isAdminSelect');
        var clientSection = document.getElementById('clientSection');
        clientSection.style.display = isAdminSelect.value === 'false' ? 'block' : 'none';
    }
    toggleAdminSection();
</script>

<style>
    body {
        background-color: #dcd2ff;
    }

    .formulario {
        background: rgba(0, 0, 0, .1);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
        color: white;
    }

    .form-control {
        border-style: none;
        transition: 0.5s ease-in;
        outline: none;
        box-shadow: none;
    }

        .form-control:focus {
            background: none;
            box-shadow: none;
            outline: none;
        }

        .form-control::placeholder {
            color: black;
        }

    .ingresar {
        background: #222A3F;
        padding: 10px;
        font-size: 16px;
        font-weight: 700 !important;
        color: white;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
        transition: 0.5s ease-in;
    }

        .ingresar:hover {
            color: white;
        }

    .olvide {
        color: white;
        text-decoration-style: none;
        text-decoration-line: none;
    }

        .olvide:hover {
            color: white;
            text-decoration-style: none;
            text-decoration-line: none;
            cursor: pointer;
        }

    .olvide1 {
        color: white;
        text-decoration-style: none;
        text-decoration-line: none;
        font-size: 20px;
        font-weight: 700 !important;
        padding: 10px;
        border-radius: 10px;
        background: rgba(0, 0, 0, .5);
    }

        .olvide1:hover {
            color: white;
            text-decoration-style: none;
            text-decoration-line: none;
            cursor: pointer;
        }
</style>

<script>
    var passwordInput = document.getElementById("passwordInput");
    var togglePassword = document.getElementById("togglePassword");

    togglePassword.addEventListener("click", function () {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            togglePassword.classList.remove("fa-eye-slash");
            togglePassword.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            togglePassword.classList.remove("fa-eye");
            togglePassword.classList.add("fa-eye-slash");
        }
    });
</script>



